.main_chat
  .main_header
    .main_header__left
      .main_header__left__group_name
        = @group.name
      %ul.main_header__left__group_list 
        Member：
        %li.main_header__left__group_list__member
          = @group.users.pluck(:name).join(",")
    = link_to edit_group_path(@group), class: "new__btn" do
      .main_header__new_btn Edit

  .messages
    = render @messages
  
  .form
    = form_for [@group, @message] do |f|
      = f.text_field :content, placeholder: "type a message", class: "input_box__text" 
      .input_box     
        %label{class: "input_box__image"}
          = icon("fas", "image", class: "input_box__image__icon")
          = f.file_field :image, class: 'hidden'         
      = f.submit "Send", class: "submit_btn"
