.chat_side
  .side_header
    .side_header__box
      .side_header__box__user_name
        = current_user.name
      .side_header__box__menu
        = link_to new_group_path, class: "side_header__box__menu__edit" do
          %i.far.fa-edit  
        = link_to edit_user_path(current_user), class: "side_header__box__menu__cog" do
          %i.fas.fa-cog
  .groups
    - current_user.groups.each do |group|
      .group
        = link_to "#" do
          .group__name
            = group.name
          .group__message
            メッセージはまだありません

